<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="fixed-top">
        <nav class="navbar navbar-light bg-light p-3 border-bottom">
          <%= link_to "Lists", root_path, class: "navbar-brand text-secondary"%>
          <%= link_to "Add a list", new_list_path, class: "navbar-brand text-secondary"%>
        </nav>
      </div>
      <div>
        <%= yield %>
      </div>
  </body>
</html>
